<app-layout>
  <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container">
        <!--begin::Dashboard-->
        <!--begin::Row-->
        <div class="row">
          <div class="col-xl-3"></div>
          <div class="col-xl-6">
            <!--begin::List Widget 7-->
            <div class="card card-custom gutter-b card-stretch">
              <!--begin::Header-->
              <div class="card-header border-0">
                <h3 class="card-title font-weight-bolder text-dark">Restaurants</h3>
              </div>
              <!--end::Header-->
              <!--begin::Body-->
              <div class="card-body pt-0">
                <!--begin::Item-->
                <div class="d-flex align-items-center flex-wrap mb-8">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="assets/media/svg/misc/006-plurk.svg" class="h-50 align-self-center" alt="" />
														</span>
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Text-->
                  <div class="d-flex flex-column flex-grow-1 mr-2">
                    <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Top Authors</a>
                    <span class="text-muted font-weight-bold">Mark, Rowling, Esther</span>
                  </div>
                  <!--end::Text-->
                  <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">+82$</span>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex align-items-center flex-wrap mb-8">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="assets/media/svg/misc/015-telegram.svg" class="h-50 align-self-center" alt="" />
														</span>
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Text-->
                  <div class="d-flex flex-column flex-grow-1 mr-2 my-2">
                    <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Popular Authors</a>
                    <span class="text-muted font-weight-bold">Randy, Steve, Mike</span>
                  </div>
                  <!--end::Text-->
                  <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">+280$</span>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex align-items-center flex-wrap mb-8">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="assets/media/svg/misc/003-puzzle.svg" class="h-50 align-self-center" alt="" />
														</span>
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Text-->
                  <div class="d-flex flex-column flex-grow-1 mr-2 my-2">
                    <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">New Users</a>
                    <span class="text-muted font-weight-bold">John, Pat, Jimmy</span>
                  </div>
                  <!--end::Text-->
                  <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">+4500$</span>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex align-items-center flex-wrap mb-8">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="assets/media/svg/misc/005-bebo.svg" class="h-50 align-self-center" alt="" />
														</span>
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Text-->
                  <div class="d-flex flex-column flex-grow-1 mr-2 my-2">
                    <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Active Customers</a>
                    <span class="text-muted font-weight-bold">Sandra, Tim, Louis</span>
                  </div>
                  <!--end::Text-->
                  <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">+4500$</span>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex align-items-center flex-wrap">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-50 symbol-light mr-5">
														<span class="symbol-label">
															<img src="assets/media/svg/misc/014-kickstarter.svg" class="h-50 align-self-center" alt="" />
														</span>
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Text-->
                  <div class="d-flex flex-column flex-grow-1 mr-2 my-2">
                    <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">Bestseller Theme</a>
                    <span class="text-muted font-weight-bold">Disco, Retro, Sports</span>
                  </div>
                  <!--end::Text-->
                  <span class="label label-xl label-light label-inline my-lg-0 my-2 text-dark-50 font-weight-bolder">+4500$</span>
                </div>
                <!--end::Item-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::List Widget 7-->
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Entry-->
  </div>
  <!--end::Content-->
</app-layout>
