<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update Restaurant: {{review.id}}</h5>
    <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
      <i aria-hidden="true" class="ki ki-close"></i>
    </button>
  </div>
  <div class="modal-body">

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <input #d="ngbDatepicker"
                 [(ngModel)]="dateOfVisit"
                 [class.is-invalid]="errors.get('dateOfVisit')"
                 ngbDatepicker
                 type="dateAtVisit" class="form-control"/>
          <button (click)="d.toggle()" type="button">select date</button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <app-review-stars [(starCount)]="review.starCount"></app-review-stars>
          <div *ngIf="errors.get('starCount')" style="color:red">
            You need to rate your review
          </div>
        </div>
      </div>
    </div>
    <div>
      <label>Comment <span class="text-danger">*</span></label>
      <textarea class="form-control"
                [class.is-invalid]="errors.get('comment')"
                [(ngModel)]="review.comment"
                rows="10"
                placeholder="Your comment about restaurant"></textarea>
      <div *ngIf="errors.get('comment')" class="invalid-feedback">
        {{errors.get('comment')}}
      </div>
    </div>
    <br/>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold" (click)="activeModal.close()">Close</button>
    <button type="button" class="btn btn-primary font-weight-bold" (click)="save()">Save</button>
  </div>
</div>
