<!--begin::Card-->
<div class="card card-custom card-stretch">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Write review</h3>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Date at visit <span class="text-danger">*</span></label>
          <input #d="ngbDatepicker"
                 [(ngModel)]="dateOfVisit"
                 [class.is-invalid]="errors.get('dateOfVisit')"
                 ngbDatepicker
                 type="dateAtVisit" class="form-control"/>
          <button (click)="d.toggle()" type="button">select date</button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <app-review-stars [(starCount)]="review.starCount"></app-review-stars>
          <div *ngIf="errors.get('starCount')" style="color:red">
            You need to rate your review
          </div>
        </div>
      </div>
    </div>
    <div>
      <label>Comment <span class="text-danger">*</span></label>
      <textarea class="form-control"
                [class.is-invalid]="errors.get('comment')"
                [(ngModel)]="review.comment"
                rows="10"
                placeholder="Your comment about restaurant"></textarea>
      <div *ngIf="errors.get('comment')" class="invalid-feedback">
        {{errors.get('comment')}}
      </div>
    </div>
    <br/>
    <div>
      <button class="btn btn-bg-success" (click)="create()">Submit</button>
    </div>
  </div>
</div>
<!--end::Card-->
