<!--begin::Main-->
<app-header-mobile></app-header-mobile>
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="d-flex flex-row flex-column-fluid page">
    <!--begin::Wrapper-->
    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
      <app-header></app-header>
      <div class="layout-content">
        <ng-content></ng-content>
      </div>
      <app-footer></app-footer>
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::Main-->
